<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.danieldickeyfinalproject.cvtdbuses">

    <!--  permission to use gps fine location (included course location too)  -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--  permission to use network for getting bus info  -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_bus"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_bus_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.CVTDBuses">

    <!--  Google ad mob app ID  -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2152092660393820~6679976654"/>


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>